/* Menu Boredom */

.main-container-boredom {
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(180deg, #1b3388, #11111a);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.menu-container-boredom {
  font-size: 30px;
  margin-top: -150px;
}

.menu-content-boredom {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 0 4px;
}

.menu-title-boredom {
  font-size: 50px;
}

.zero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.link-zero {
  background-color: #f1b02c;
  padding: 15px;
  width: 200px;
  margin-top: 15px;
  border-radius: 5px;
  color: #182353;
}

.fifty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.link-fifty {
  background-color: #f1b02c;
  padding: 15px;
  width: 200px;
  margin-top: 15px;
  border-radius: 5px;
  color: #182353;
}

.hundred {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.link-hundred {
  background-color: #f1b02c;
  padding: 15px;
  width: 200px;
  margin-top: 15px;
  border-radius: 5px;
  color: #182353;
}

@media only screen and (max-width: 800px) {
  .menu-title-boredom {
    margin-top: 200px;
    margin-bottom: -100px;
    font-size: 30px;
  }
  .menu-content-boredom {
    display: block;
  }
  .img-menu {
    width: 100px;
    height: 100px;
  }
  .link-zero {
    padding: 7px;
    font-size: 20px;
    width: 150px;
  }
  .link-fifty {
    padding: 7px;
    font-size: 20px;
    width: 150px;
  }
  .link-hundred {
    padding: 7px;
    font-size: 20px;
    width: 150px;
  }
}

@media only screen and (max-width: 520px) {
  .menu-title-boredom {
    font-size: 25px;
    margin-top: 200px;
  }
  .menu-content-boredom {
    display: block;
  }
  .img-menu {
    width: 100px;
    height: 100px;
  }

  .link-zero {
    width: 100px;
  }
  .link-fifty {
    width: 100px;
  }
  .link-hundred {
    width: 100px;
  }
}

/* Movie Recommendations - MovieList Component */

.main-recomends {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
