html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  color: #f1b02d;
  background: #171750;
}

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
